# 複数の時系列CSVデータを同じ時間でまとめる

## 方法 (日単位データの場合)
1. 読み込むデータを全て読み込む
2. 各データの最初の日付・最後の日付を比較
3. 各データの中で最も遅い最初の日付$t_0$・最も早い最後の日付$t_f$を読み込み範囲とする
4. 各データについて，最初の日付と$t_0$の日数$\Delta{t_0}$，最後の日付と$t_f$の日数$\Delta{t_f}$を求める
5. 各データの$\Delta{t_0}$番目から$t_0$に対応するデータを探索
    1. 探索したデータの日付が$t_0$よりも早/遅ければ，日数差$\Delta{t}$だけ遅/早いデータを次に調べる
    2. 該当日のデータがなかったとき，諦める
6. 該当日が見つかったら
    1. 1日ずつ増やしてデータの日付が対応しているのかのチェック
        + 該当日なら，配列に保存
        + 該当日でなかったら，5.を行う．

# 使用モジュール
+ pandas
+ numpy
+ datetime

## CSVの読み込み

まずは，CSVの読み込みに必要なモジュールをインポートします．

In [3]:
import pandas as pd
import numpy as np

今回は，[株式投資メモ](https://kabuoji3.com/data.php?code=7203)様からダウンロードしました．
拾ってきたデータは年単位の日足データとなっていたので，まずは整形して5年分のデータとしました．

pandasモジュールを用いて読み込みます．

In [4]:
csv7203_2014 = pd.read_csv(
    "C:/Users/issei/Projects/BitTrader/Stock_Data/7203_2014.csv",
    encoding='SHIFT_JIS',
    header=1
)
print(csv7203_2014)

             日付    始値    高値    安値    終値       出来高  終値調整値
0    2014-01-06  6360  6400  6280  6300  12249300   6300
1    2014-01-07  6270  6340  6260  6270   7891400   6270
2    2014-01-08  6310  6320  6260  6300   7184100   6300
3    2014-01-09  6310  6340  6260  6270   8653000   6270
4    2014-01-10  6260  6310  6250  6290   7815900   6290
5    2014-01-14  6200  6201  6114  6144  16507500   6144
6    2014-01-15  6219  6236  6184  6235   9167300   6235
7    2014-01-16  6263  6325  6236  6261   8070200   6261
8    2014-01-17  6260  6262  6195  6200   8076700   6200
9    2014-01-20  6219  6229  6201  6206   5785300   6206
10   2014-01-21  6211  6329  6211  6300  11308200   6300
11   2014-01-22  6300  6363  6258  6340  11254600   6340
12   2014-01-23  6350  6362  6256  6256   8837200   6256
13   2014-01-24  6168  6198  6150  6170  14605000   6170
14   2014-01-27  6047  6077  6032  6039  13821100   6039
15   2014-01-28  6035  6063  6007  6018  10986000   6018
16   2014-01-29  6094  6146  6055  6136   7484900   6136
17   2014-01-30  6008  6053  5978  5998  14863300   5998
18   2014-01-31  6058  6059  5886  5922  10850200   5922
19   2014-02-03  5880  5919  5822  5831   8776900   5831
20   2014-02-04  5531  5640  5500  5500  18089700   5500
21   2014-02-05  5800  5880  5708  5830  20714900   5830
22   2014-02-06  5900  5903  5778  5785   9712600   5785
23   2014-02-07  5890  5903  5800  5900   7637500   5900
24   2014-02-10  5982  5995  5942  5994   7096200   5994
25   2014-02-12  6019  6038  5999  6020   8352500   6020
26   2014-02-13  6000  6006  5885  5891   7530000   5891
27   2014-02-14  5891  5954  5750  5813   8841500   5813
28   2014-02-17  5818  5853  5726  5793   7917100   5793
29   2014-02-18  5800  5945  5793  5945   9724500   5945
..          ...   ...   ...   ...   ...       ...    ...
214  2014-11-17  6964  6974  6808  6825  12227900   6825
215  2014-11-18  6919  6999  6909  6998  12058300   6998
216  2014-11-19  7001  7114  7001  7025  12916000   7025
217  2014-11-20  7059  7110  7059  7098  10147700   7098
218  2014-11-21  7114  7135  7011  7089  11989300   7089
219  2014-11-25  7183  7233  7163  7190  14000900   7190
220  2014-11-26  7178  7219  7163  7180   7389400   7180
221  2014-11-27  7160  7190  7125  7147   7765600   7147
222  2014-11-28  7198  7314  7192  7314  12339500   7314
223  2014-12-01  7360  7464  7352  7429   9349600   7429
224  2014-12-02  7390  7529  7388  7527   9948000   7527
225  2014-12-03  7600  7678  7553  7592  13014400   7592
226  2014-12-04  7690  7733  7655  7730  10308100   7730
227  2014-12-05  7739  7796  7695  7742  12979400   7742
228  2014-12-08  7830  7873  7802  7858  11960200   7858
229  2014-12-09  7799  7856  7731  7756  12892000   7756
230  2014-12-10  7606  7642  7490  7523  17573300   7523
231  2014-12-11  7300  7520  7270  7481  14159000   7481
232  2014-12-12  7512  7597  7463  7500  16743100   7500
233  2014-12-15  7350  7425  7300  7311  12018400   7311
234  2014-12-16  7236  7254  7152  7214  13473200   7214
235  2014-12-17  7150  7234  7107  7143  14895800   7143
236  2014-12-18  7439  7440  7250  7250  13818300   7250
237  2014-12-19  7430  7573  7384  7562  13798300   7562
238  2014-12-22  7598  7599  7478  7535   9169000   7535
239  2014-12-24  7645  7687  7639  7657   9287900   7657
240  2014-12-25  7600  7655  7597  7611   5362700   7611
241  2014-12-26  7629  7700  7615  7696   6069100   7696
242  2014-12-29  7740  7746  7565  7662   9942800   7662
243  2014-12-30  7652  7674  7558  7558   7821200   7558

[244 rows x 7 columns]

pandasモジュールで読み込んだデータはdataframe型式なので，numpy.array形式に変換します．これは`np.array(dataframe)`するだけです．

In [5]:
data7203_2014 = np.array(csv7203_2014)
print(data7203_2014)

[['2014-01-06' 6360 6400 ... 6300 12249300 6300]
 ['2014-01-07' 6270 6340 ... 6270 7891400 6270]
 ['2014-01-08' 6310 6320 ... 6300 7184100 6300]
 ...
 ['2014-12-26' 7629 7700 ... 7696 6069100 7696]
 ['2014-12-29' 7740 7746 ... 7662 9942800 7662]
 ['2014-12-30' 7652 7674 ... 7558 7821200 7558]]

同様のことを繰り返します．より長い期間を読み込むならosモジュール等を用いてファイルリストを取得したほうがいいと思います．

In [6]:
csv7203_2015 = pd.read_csv(
    "C:/Users/issei/Projects/BitTrader/Stock_Data/7203_2015.csv",
    encoding='SHIFT_JIS',
    header=1,
)
data7203_2015 = np.array(csv7203_2015)

csv7203_2016 = pd.read_csv(
    "C:/Users/issei/Projects/BitTrader/Stock_Data/7203_2016.csv",
    encoding='SHIFT_JIS',
    header=1
)
data7203_2016 = np.array(csv7203_2016)

csv7203_2017 = pd.read_csv(
    "C:/Users/issei/Projects/BitTrader/Stock_Data/7203_2017.csv",
    encoding='SHIFT_JIS',
    header=1
)
data7203_2017 = np.array(csv7203_2017)

csv7203_2018 = pd.read_csv(
    "C:/Users/issei/Projects/BitTrader/Stock_Data/7203_2018.csv",
    encoding='SHIFT_JIS',
    header=1
)
data7203_2018 = np.array(csv7203_2018)

In [7]:
print(data7203_2015)
print(data7203_2016)
print(data7203_2017)
print(data7203_2018)

[['2015-01-05' 7565 7575 ... 7507 9515300 7507]
 ['2015-01-06' 7322 7391 ... 7300 12387900 7300]
 ['2015-01-07' 7256 7485 ... 7407 11465400 7407]
 ...
 ['2015-12-28' 7489 7524 ... 7484 4516400 7484]
 ['2015-12-29' 7461 7498 ... 7454 9706400 7454]
 ['2015-12-30' 7497 7521 ... 7488 5710600 7488]]
[['2016-01-04' 7400 7495 ... 7337 9165700 7337]
 ['2016-01-05' 7268 7293 ... 7226 10405700 7226]
 ['2016-01-06' 7220 7259 ... 7083 10349700 7083]
 ...
 ['2016-12-28' 7000 7020 ... 6970 4747600 6970]
 ['2016-12-29' 6935 6960 ... 6838 11400700 6838]
 ['2016-12-30' 6829 6913 ... 6878 6708800 6878]]
[['2017-01-04' 7010 7103 ... 7097 9547600 7097]
 ['2017-01-05' 7090 7091 ... 7049 7644000 7049]
 ['2017-01-06' 6840 6948 ... 6930 11586100 6930]
 ...
 ['2017-12-27' 7241 7277 ... 7274 2339900 7274]
 ['2017-12-28' 7272 7277 ... 7221 2422100 7221]
 ['2017-12-29' 7231 7243 ... 7213 2618000 7213]]
[['2018-01-04' 7300 7413 ... 7413 9355400 7413]
 ['2018-01-05' 7450 7555 ... 7552 8616400 7552]
 ['2018-01-09' 7572 7582 ... 7541 7063800 7541]
 ...
 ['2018-12-04' 7049 7069 ... 6911 7465100 6911]
 ['2018-12-05' 6844 6931 ... 6910 6383900 6910]
 ['2018-12-06' 6947 7007 ... 6876 7798100 6876]]

データをまとめるには，`np.vstack`を用います．`np.vstack( (配列1, 配列2, ... , 配列n) )`というように，まとめたい配列をかっこの中に入れてください．
括弧が2重になることに注意です！
ちなみに`np.vstack`は配列の列方向(縦方向)に配列を繋ぐ関数です．なので，列数が異なる配列同士を繋げることはできません．
また，行方向（横方向）に配列を繋ぐ場合には，`np.hstack`が使えます．

In [8]:
data_7203 = np.vstack((
    data7203_2014,
    data7203_2015,
    data7203_2016,
    data7203_2017,
    data7203_2018
))
print(data_7203)

[['2014-01-06' 6360 6400 ... 6300 12249300 6300]
 ['2014-01-07' 6270 6340 ... 6270 7891400 6270]
 ['2014-01-08' 6310 6320 ... 6300 7184100 6300]
 ...
 ['2018-12-04' 7049 7069 ... 6911 7465100 6911]
 ['2018-12-05' 6844 6931 ... 6910 6383900 6910]
 ['2018-12-06' 6947 7007 ... 6876 7798100 6876]]

ところで，このままでは日時の比較ができません．なぜなら，日付が文字列になっているからです（'2014-01-06'と，コロンが付いています）．なので，これを`datetime`型に変換します．これには，`datetime.datetime.strptime`を使います．

In [9]:
from datetime import datetime as dt

`datetime.datetime`というように，2回`datetime`と書くことに注意です．
`strptime`はある型式で表記された日時の文字列を時間型に変換してくれます．

In [10]:
dt.strptime("2018-12-07", "%Y-%m-%d")

datetime.datetime(2018, 12, 7, 0, 0)

これを配列の各行の0列目に用いたいです．`for`を用いて各行を読み込むこともできますが，1行で同じことができます．
ここでは`np.frompyfunc`関数を用いましょう．

In [11]:
data_7203[:,0] = np.frompyfunc(dt.strptime, 2,1)(data_7203[:,0], "%Y-%m-%d")

In [12]:
print(data_7203)

[[datetime.datetime(2014, 1, 6, 0, 0) 6360 6400 ... 6300 12249300 6300]
 [datetime.datetime(2014, 1, 7, 0, 0) 6270 6340 ... 6270 7891400 6270]
 [datetime.datetime(2014, 1, 8, 0, 0) 6310 6320 ... 6300 7184100 6300]
 ...
 [datetime.datetime(2018, 12, 4, 0, 0) 7049 7069 ... 6911 7465100 6911]
 [datetime.datetime(2018, 12, 5, 0, 0) 6844 6931 ... 6910 6383900 6910]
 [datetime.datetime(2018, 12, 6, 0, 0) 6947 7007 ... 6876 7798100 6876]]

これで，各行の日付が日時型に変換されました．

続いて，NY市場ダウ平均株価（5年間）を読み込みます．

In [81]:
csv_dji_13_18 = pd.read_csv(
    "C:/Users/issei/Projects/BitTrader/Stock_Data/DJI_131207_181207.csv",
    encoding='UTF-8',
    header=0
)
print(csv_dji_13_18)

            Date          Open          High           Low         Close  \
0     2013-12-06  15825.549805  16022.349609  15825.549805  16020.200195
1     2013-12-09  16019.490234  16058.400391  16015.290039  16025.530273
2     2013-12-10  16024.120117  16029.059570  15969.530273  15973.129883
3     2013-12-11  15970.750000  15997.219727  15827.700195  15843.530273
4     2013-12-12  15844.820313  15845.110352  15703.790039  15739.429688
5     2013-12-13  15745.660156  15792.799805  15717.919922  15755.360352
6     2013-12-16  15759.599609  15930.309570  15759.599609  15884.570313
7     2013-12-17  15884.059570  15917.959961  15836.450195  15875.259766
8     2013-12-18  15876.570313  16173.040039  15808.919922  16167.969727
9     2013-12-19  16162.509766  16194.719727  16121.540039  16179.080078
10    2013-12-20  16178.570313  16287.839844  16178.570313  16221.139648
11    2013-12-23  16225.250000  16318.110352  16225.250000  16294.610352
12    2013-12-24  16295.700195  16360.599609  16295.700195  16357.549805
13    2013-12-26  16370.969727  16483.000000  16370.969727  16479.880859
14    2013-12-27  16486.369141  16529.009766  16461.230469  16478.410156
15    2013-12-30  16484.509766  16504.349609  16476.869141  16504.289063
16    2013-12-31  16512.380859  16588.250000  16511.480469  16576.660156
17    2014-01-02  16572.169922  16573.070313  16416.490234  16441.349609
18    2014-01-03  16456.890625  16518.740234  16439.300781  16469.990234
19    2014-01-06  16474.039063  16532.990234  16405.519531  16425.099609
20    2014-01-07  16429.019531  16562.320313  16429.019531  16530.939453
21    2014-01-08  16527.660156  16528.880859  16416.689453  16462.740234
22    2014-01-09  16471.410156  16525.349609  16378.610352  16444.759766
23    2014-01-10  16453.619141  16487.650391  16379.019531  16437.050781
24    2014-01-13  16434.029297  16453.130859  16240.599609  16257.940430
25    2014-01-14  16261.990234  16373.919922  16260.830078  16373.860352
26    2014-01-15  16378.030273  16505.279297  16376.780273  16481.939453
27    2014-01-16  16477.699219  16477.699219  16375.559570  16417.009766
28    2014-01-17  16408.019531  16495.259766  16378.799805  16458.560547
29    2014-01-21  16459.269531  16520.599609  16316.250000  16414.439453
...          ...           ...           ...           ...           ...
1229  2018-10-24  25172.880859  25306.230469  24533.189453  24583.419922
1230  2018-10-25  24736.539063  25104.289063  24645.560547  24984.550781
1231  2018-10-26  24770.250000  24916.160156  24445.189453  24688.310547
1232  2018-10-29  24818.980469  25040.580078  24122.230469  24442.919922
1233  2018-10-30  24482.039063  24906.679688  24415.689453  24874.640625
1234  2018-10-31  25008.820313  25336.550781  25008.820313  25115.759766
1235  2018-11-01  25142.080078  25396.470703  25108.109375  25380.740234
1236  2018-11-02  25443.599609  25578.980469  25078.720703  25270.830078
1237  2018-11-05  25261.470703  25507.349609  25261.470703  25461.699219
1238  2018-11-06  25452.830078  25651.859375  25444.900391  25635.009766
1239  2018-11-07  25788.460938  26200.140625  25765.880859  26180.300781
1240  2018-11-08  26139.589844  26277.820313  26081.900391  26191.220703
1241  2018-11-09  26149.109375  26161.490234  25882.910156  25989.300781
1242  2018-11-12  25959.330078  25966.710938  25340.509766  25387.179688
1243  2018-11-13  25321.210938  25511.029297  25193.779297  25286.490234
1244  2018-11-14  25388.080078  25501.289063  24935.820313  25080.500000
1245  2018-11-15  25061.480469  25354.560547  24787.789063  25289.269531
1246  2018-11-16  25242.349609  25510.230469  25147.800781  25413.220703
1247  2018-11-19  25392.609375  25392.609375  24900.980469  25017.439453
1248  2018-11-20  24618.679688  24707.259766  24368.980469  24465.640625
1249  2018-11-21  24541.650391  24669.789063  24463.279297  24464.689453
1250  2018-11-23  24336.400391  24408.800781  24268.740234  24285.949219
1251  2018-11-26  24364.130859  24673.289063  24364.130859  24640.240234
1252  2018-11-27  24557.019531  24750.730469  24416.029297  24748.730469
1253  2018-11-28  24832.839844  25368.929688  24832.839844  25366.429688
1254  2018-11-29  25343.650391  25479.039063  25202.789063  25338.839844
1255  2018-11-30  25307.140625  25549.710938  25250.970703  25538.460938
1256  2018-12-03  25779.570313  25980.210938  25670.509766  25826.429688
1257  2018-12-04  25752.560547  25773.119141  25008.109375  25027.070313
1258  2018-12-06  24737.419922  24951.009766  24242.220703  24947.669922

         Adj Close     Volume
0     16020.200195   98260000
1     16025.530273   91810000
2     15973.129883   79420000
3     15843.530273  107170000
4     15739.429688  105870000
5     15755.360352   83180000
6     15884.570313  101470000
7     15875.259766  101490000
8     16167.969727  129620000
9     16179.080078   94980000
10    16221.139648  285190000
11    16294.610352   78930000
12    16357.549805   33640000
13    16479.880859   50160000
14    16478.410156   47230000
15    16504.289063   54220000
16    16576.660156   78760000
17    16441.349609   80960000
18    16469.990234   72770000
19    16425.099609   89380000
20    16530.939453   81270000
21    16462.740234  103260000
22    16444.759766   83990000
23    16437.050781   85190000
24    16257.940430  111680000
25    16373.860352   98610000
26    16481.939453  101130000
27    16417.009766   87370000
28    16458.560547  184970000
29    16414.439453  111570000
...            ...        ...
1229  24583.419922  496400000
1230  24984.550781  439670000
1231  24688.310547  505310000
1232  24442.919922  443850000
1233  24874.640625  470050000
1234  25115.759766  448930000
1235  25380.740234  383970000
1236  25270.830078  429480000
1237  25461.699219  334740000
1238  25635.009766  265450000
1239  26180.300781  361780000
1240  26191.220703  295650000
1241  25989.300781  324450000
1242  25387.179688  346910000
1243  25286.490234  339690000
1244  25080.500000  384240000
1245  25289.269531  392750000
1246  25413.220703  354460000
1247  25017.439453  358090000
1248  24465.640625  445920000
1249  24464.689453  289370000
1250  24285.949219  155940000
1251  24640.240234  306280000
1252  24748.730469  308250000
1253  25366.429688  362160000
1254  25338.839844  305110000
1255  25538.460938  482250000
1256  25826.429688  388480000
1257  25027.070313  418900000
1258  24947.669922  471690000

[1259 rows x 7 columns]

In [14]:
data_dji_13_18 = np.array(csv_dji_13_18)
data_dji_13_18[:,0] = np.frompyfunc(dt.strptime, 2,1)(data_dji_13_18[:,0], "%Y-%m-%d")
print(data_dji_13_18)

[[datetime.datetime(2013, 12, 6, 0, 0) 15825.549805 16022.349609 ...
  16020.200195 16020.200195 98260000]
 [datetime.datetime(2013, 12, 9, 0, 0) 16019.490234 16058.400391 ...
  16025.530272999998 16025.530272999998 91810000]
 [datetime.datetime(2013, 12, 10, 0, 0) 16024.120116999999 16029.05957
  ... 15973.129883000001 15973.129883000001 79420000]
 ...
 [datetime.datetime(2018, 12, 3, 0, 0) 25779.570313 25980.210938 ...
  25826.429688 25826.429688 388480000]
 [datetime.datetime(2018, 12, 4, 0, 0) 25752.560547 25773.119141 ...
  25027.070313 25027.070313 418900000]
 [datetime.datetime(2018, 12, 6, 0, 0) 24737.419922 24951.009766 ...
  24947.669922 24947.669922 471690000]]

In [15]:
csv_nasdaq_13_18 = pd.read_csv(
    "C:/Users/issei/Projects/BitTrader/Stock_Data/NASDAQ_131207_181207.csv",
    encoding='UTF-8',
    header=0
)
data_nasdaq_13_18 = np.array(csv_dji_13_18)
data_nasdaq_13_18[:,0] = np.frompyfunc(dt.strptime, 2,1)(data_nasdaq_13_18[:,0], "%Y-%m-%d")
print(data_nasdaq_13_18)

[[datetime.datetime(2013, 12, 6, 0, 0) 15825.549805 16022.349609 ...
  16020.200195 16020.200195 98260000]
 [datetime.datetime(2013, 12, 9, 0, 0) 16019.490234 16058.400391 ...
  16025.530272999998 16025.530272999998 91810000]
 [datetime.datetime(2013, 12, 10, 0, 0) 16024.120116999999 16029.05957
  ... 15973.129883000001 15973.129883000001 79420000]
 ...
 [datetime.datetime(2018, 12, 3, 0, 0) 25779.570313 25980.210938 ...
  25826.429688 25826.429688 388480000]
 [datetime.datetime(2018, 12, 4, 0, 0) 25752.560547 25773.119141 ...
  25027.070313 25027.070313 418900000]
 [datetime.datetime(2018, 12, 6, 0, 0) 24737.419922 24951.009766 ...
  24947.669922 24947.669922 471690000]]

## データをひとまとめにする

1. データ初日を比較する
とりあえず，各データの初日の日付を見てみましょう．

In [16]:
print(data_7203[0,0])
print(data_nasdaq_13_18[0,0])
print(data_dji_13_18[0,0])

2014-01-06 00:00:00
2013-12-06 00:00:00
2013-12-06 00:00:00

つまり，今回は`2014-01-06`を見つけたいところです．

In [17]:
t0 = max(data_7203[0,0],data_nasdaq_13_18[0,0],data_dji_13_18[0,0])
print(t0)

2014-01-06 00:00:00

In [18]:
dt_7203 = t0 - data_7203[0,0]
dt_nasdaq =  t0 - data_nasdaq_13_18[0,0]
dt_dji = t0 -data_dji_13_18[0,0]
print(dt_7203, dt_nasdaq, dt_dji)

0:00:00 31 days, 0:00:00 31 days, 0:00:00

In [19]:
int_dt_7203 = dt_7203.days
int_dt_nasdaq = dt_nasdaq.days
int_dt_dji = dt_dji.days
print(int_dt_7203, int_dt_nasdaq, int_dt_dji)

0 31 31

In [20]:
print(data_7203[int_dt_7203,0])
print(data_nasdaq_13_18[int_dt_nasdaq,0])
print(data_dji_13_18[int_dt_dji,0])

2014-01-06 00:00:00
2014-01-23 00:00:00
2014-01-23 00:00:00

日付が一致しません．依然としてずれていますね．これは，各指標が常に同じ営業日で進むとは限らないからです．

In [51]:
id0_7203 = 0
while data_7203[id0_7203,0] != t0:
    int_dt_7302 = (t0 -data_7302_13_18[int_dt_7302,0]).days
    id0_7203 -= int_dt_7203
print(id0_7203)
print(data_7203[id0_7203,0])
    
id0_nasdaq = 0
while data_nasdaq_13_18[id0_nasdaq,0] != t0:
    int_dt_nasdaq = (t0 -data_nasdaq_13_18[id0_nasdaq,0]).days
    id0_nasdaq += int_dt_nasdaq
print(id0_nasdaq)
print(data_nasdaq_13_18[id0_nasdaq,0])
    
id0_dji = 0
while data_dji_13_18[id0_dji,0] != t0:
    int_dt_dji = (t0 -data_dji_13_18[id0_dji,0]).days
    id0_dji += int_dt_dji
print(id0_dji)
print(data_dji_13_18[id0_dji,0])

0
2014-01-06 00:00:00
19
2014-01-06 00:00:00
19
2014-01-06 00:00:00

In [33]:
tf = min(data_7203[data_7203.shape[0]-1,0],data_nasdaq_13_18[data_nasdaq_13_18.shape[0]-1,0],data_dji_13_18[data_dji_13_18.shape[0]-1,0])
print(tf)

2018-12-06 00:00:00

In [80]:
idf_7203 = data_7203.shape[0]-1
while data_7203[idf_7203,0] != tf:
    int_dt_7203 = (tf -data_7203[idf_7203,0]).days
    idf_7203 -= int_dt_7203
print(idf_7203)
print(data_7203[idf_7203,0])
    
idf_nasdaq = data_nasdaq_13_18.shape[0]-1
while data_nasdaq_13_18[idf_nasdaq,0] != tf:
    int_dt_nasdaq = (tf -data_nasdaq_13_18[id0_nasdaq,0]).days
    idf_nasdaq += int_dt_nasdaq
print(idf_nasdaq)
print(data_nasdaq_13_18[idf_nasdaq,0])
    
idf_dji = data_dji_13_18.shape[0]-1
while data_dji_13_18[idf_dji,0] != tf:
    int_dt_dji = (tf -data_dji_13_18[id0_dji,0]).days
    idf_dji += int_dt_dji
print(idf_dji)
print(data_dji_13_18[idf_dji,:])

1206
2018-12-06 00:00:00
1258
2018-12-06 00:00:00
1258
[datetime.datetime(2018, 12, 6, 0, 0) 24737.419922 24951.009766
 24242.220703 24947.669922 24947.669922 471690000]

In [42]:
from datetime import timedelta as td

In [82]:

arrDatas = np.zeros(((data_dji_13_18[idf_dji,0] - data_dji_13_18[id0_dji,0]).days, 15), dtype=float)

id_arr = 0
id_7203 = id0_7203
id_dji = id0_dji
id_nasdaq = id0_nasdaq
day = t0

while  (id_7203 < idf_7203) & (id_dji < idf_dji) & (id_nasdaq < idf_nasdaq):
    if day == data_7203[id_7203,0]:
        id_7203 += 1
    if day == data_dji_13_18[id_dji,0]:
        id_dji += 1
    if day == data_nasdaq_13_18[id_nasdaq,0]:
        id_nasdaq += 1

    arrDatas[id_arr, 0:5] = data_7203[id_7203, 1:6]
    arrDatas[id_arr, 5:8] = data_dji_13_18[id_dji, 1:4]
    arrDatas[id_arr, 8]   = data_dji_13_18[id_dji, 5]
    arrDatas[id_arr, 9]   = data_dji_13_18[id_dji, 6]
    arrDatas[id_arr, 10:13] = data_nasdaq_13_18[id_nasdaq, 1:4]
    arrDatas[id_arr, 13] = data_nasdaq_13_18[id_nasdaq, 5]
    arrDatas[id_arr, 14] = data_nasdaq_13_18[id_nasdaq, 6]
    
    day += td(days=1)
    id_arr += 1
    
print(arrDatas[0,:])

[6.27000000e+03 6.34000000e+03 6.26000000e+03 6.27000000e+03
 7.89140000e+06 1.64290195e+04 1.65623203e+04 1.64290195e+04
 1.65309395e+04 8.12700000e+07 1.64290195e+04 1.65623203e+04
 1.64290195e+04 1.65309395e+04 8.12700000e+07]